name: Epic Free Games Telegram Alert

permissions:
  contents: write

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run-alert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Epic Alert Script
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        run: python epic_free_game.py

      - name: Commit state files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add sent_games.json users.json
          git diff --cached --quiet || git commit -m "Update state files"
          git push
